<ng-container *ngIf="!!quizRepresentation" class="MainContainer">
  <div class = "MainText">Quiz works!</div>

  <app-quiz-selector
    (quizStarted)="onQuizSelected($event)"
    [isStarted]="quizRepresentation.isStarted"
    [quizVariantsName]="quizRepresentation.quizVariantsNames"
    [quizCurrentVariantName]="quizRepresentation.quizCurrentVariantName">
  </app-quiz-selector>

  <app-quiz-qestion
    (answerSelect)="onAnswerSelect($event)"
    [questionText]="quizRepresentation.questionText"
    [isFinished]="quizRepresentation.isFinished"
    [isStarted]="quizRepresentation.isStarted"
    [answerTexts]="quizRepresentation.answerTexts">
  </app-quiz-qestion>

  <app-quiz-action-buttons
    [selectedAnswerIndex]="selectedAnswerIndex"
    [isStarted]="quizRepresentation.isStarted"
    [isFinished]="quizRepresentation.isFinished"
    (resetQuiz)="handleReset($event)"
    (nextQuestion)="handleNext($event)"
  >
  </app-quiz-action-buttons>

  <app-quiz-status
    [isStarted]="quizRepresentation.isStarted"
    [isFinished]="quizRepresentation.isFinished"
    [currentQuestionIndex]="quizRepresentation.currentQuestionNumber"
    [totalQuestionsCount]="quizRepresentation.totalQuestionsCount"
  ></app-quiz-status>

  <app-quiz-result
    [isFinished]="quizRepresentation.isFinished"
    [score]="quizRepresentation.score"
    [resultText]="quizRepresentation.resultText"
  ></app-quiz-result>
</ng-container>

